#newBill.modal{:role => "dialog"}
  .modal-dialog
    / Modal content
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} &times;
        %span
          %h4.modal-title 
            %i.fa.fa-file-text-o
            Nueva Factura
      .modal-body
        %h5 Seleccionar cliente a facturar:
        .form-group{"ng-hide" => "isClientSelected"}
          %label.sr-only{:for => "search-items"} Buscar
          .input-group
            .input-group-addon
              %i.fa.fa-search
            %input#search-items.form-control{"ng-focus"=>"unassignKeys()", "ng-blur"=>"assignKeys()", "ng-model"=>"search", :placeholder => "Ingrese nit, razón social o contacto principal", :type => "text"}
          .text-center{"ng-if"=>"search"}
            %h5 Resultados de la Búsqueda
          %table.table.table-striped.table-bordered{"ng-if"=>"search"}
            %thead
              %tr
                %th.text-center NIT
                %th.text-center Razón Social
                %th.text-center Contacto Principal
                %th.text-center Acciones
            %tbody
              %tr{"ng-repeat"=>"client in clients | filter:search | limitTo:3"}
                %td {{client.nit}}
                %td {{client.business_name}}
                %td {{client.main_contact_name}}
                %td{"style"=>"padding: 0px 0px 0px 0px;"}
                  %button.btn.btn-primary.btn-xs.fill-cell-btn{"ng-click" => "selectClient(client.id);"} 
                    %i.fa.fa-arrow-right
                    Seleccionar
        .panel.panel-default{"ng-show" => "isClientSelected"}
          / Default panel contents
          .panel-heading 
            %strong
              {{selectedClient.business_name}} 
            %span 
              %small
                %a{href: "", "ng-click" => "changeClient()"}
                  Cambiar
          .panel-body
            .row
              .col-md-6.text-left
                %i.fa.fa-id-card            
                %strong
                  NIT: 
                {{selectedClient.nit}}
              .col-md-6.text-left
                %i.fa.fa-user
                %strong
                  Contacto Principal: 
                %a{href: ""}
                  {{selectedClient.main_contact_name}}
            .row
              .col-md-6.text-left
                %i.fa.fa-envelope
                %strong
                  Email: 
                {{selectedClient.email}}
              .col-md-6.text-left
                %i.fa.fa-phone
                %strong
                  Teléfono: 
                {{selectedClient.phone}}
            .row
              .col-md-6.text-left
                %i.fa.fa-map-marker
                %strong
                  Dirección: 
                {{selectedClient.address}}
              .col-md-6.text-left
                %i.fa.fa-location-arrow
                %strong
                  Ciudad: 
                {{selectedClient.city}}
          %h5 Pedidos recientes:
          / Table
          %table.table.table-condensed
            %thead
              %tr
                %th.text-center.col-sm-2 # Pedido
                %th.text-center.col-sm-3 Fecha de Ingreso
                %th.text-center.col-sm-3 Ingresado por
                %th.text-center.col-sm-2 Estado
                %th.text-center.col-sm-2 Acciones
            %tbody
              %tr
                %td 00882733
                %td 27 Mayo/2017
                %td Jorge Borrero
                %td.orange Pendiente
                %td.actions-cell
                  .btn-group.btn-block.no-round-corners{"aria-label" => "...", :role => "group"}
                    %button.btn.btn-primary.actions-btn.no-round-corners{:type => "button", "data-toggle" => "tooltip", "data-placement" => "top", :title => "Ver"}
                      %i.fa.fa-eye
                    %button.btn.btn-warning.actions-btn.no-round-corners.disabled{:type => "button", "data-toggle" => "tooltip", "data-placement" => "top", :title => "Facturar"}
                      %i.fa.fa-file-text
              %tr
                %td 00872734
                %td 24 Mayo/2017
                %td Jorge Borrero
                %td.green Autorizada
                %td.actions-cell
                  .btn-group.btn-block.no-round-corners{"aria-label" => "...", :role => "group"}
                    %button.btn.btn-primary.actions-btn.no-round-corners{:type => "button", "data-toggle" => "tooltip", "data-placement" => "top", :title => "Ver"}
                      %i.fa.fa-eye
                    %button.btn.btn-warning.actions-btn.no-round-corners{:type => "button", "data-toggle" => "tooltip", "data-placement" => "top", :title => "Facturar"}
                      %i.fa.fa-file-text
              %tr
                %td 00862711
                %td 21 Mayo/2017
                %td Jorge Borrero
                %td.green Autorizada
                %td.actions-cell
                  .btn-group.btn-block.no-round-corners{"aria-label" => "...", :role => "group"}
                    %button.btn.btn-primary.actions-btn.no-round-corners{:type => "button", "data-toggle" => "tooltip", "data-placement" => "top", :title => "Ver"}
                      %i.fa.fa-eye
                    %button.btn.btn-warning.actions-btn.no-round-corners{:type => "button", "data-toggle" => "tooltip", "data-placement" => "top", :title => "Facturar"}
                      %i.fa.fa-file-text
        %hr
        %h5 Método de Pago
        .btn-group.btn-group-sm{"aria-label" => "...", :role => "group"}
          %button.btn.btn-warning{"ng-class" => "{active: selectedPayment === 'contado'}", "ng-click" => "selectPayment('contado')"} 
            %i.fa.fa-money 
            Contado
          %button.btn.btn-warning{"ng-class" => "{active: selectedPayment === 'credito'}", "ng-click" => "selectPayment('credito')"} 
            %i.fa.fa-credit-card 
            Crédito
      .modal-footer
        %button.btn.btn-danger.no-round-corners{"data-dismiss" => "modal", :type => "button"} 
          %i.fa.fa-ban
          Cancelar
        %button.btn.btn-success.no-round-corners{"ng-disabled" => "sale_items.length === 0", "ng-click" => "saveSale(sale_items, getTotal(), 'completed'); search_customer = ''; search = ''", "data-dismiss" => "modal", :type => "button"} 
          %i.fa.fa-arrow-right
          Continuar
