.row.fit-content{"style"=>"margin-bottom:10px; margin-left:-15px;", "ng-hide" => "bill_creation"}
  %button.btn.btn-primary.btn-sm#new-sale-button.no-round-corners{"style"=>"float:left", "data-toggle"=>"modal", "data-target"=>"#newBill", "ng-click"=>"getClients();"} 
    %i.fa.fa-file-text
    Nueva Factura
  .text-left{"style"=>"float:left; padding-top:6px; margin-left:10px;"}  
    %i.fa.fa-filter
    Filtros Rápidos:
  .text-left{"style"=>"float:left; margin-left:10px;"}  
    .btn-group{"aria-label" => "...", :role => "group"}
      %button.btn.btn-danger.btn-sm.disabled{:type => "button"} En Mora
      %button.btn.btn-warning.btn-sm.disabled{:type => "button"} Pendientes
      %button.btn.btn-success.btn-sm.disabled{:type => "button"} Aprobadas
.row.fit-content.well{"ng-hide" => "bill_creation || bills.length > 0"}
  No hay facturas aún.
.row.fit-content{"ng-hide" => "bill_creation || bills.length == 0"}
  %table.table.table-sm.table-bordered
    %thead.thead-inverse
      %tr
        %th.text-center.col-sm-1 # Factura
        %th.text-center.col-sm-3 Cliente
        %th.text-center.col-sm-1 # Pedido
        %th.text-center.col-sm-2 Creada Por
        %th.text-center.col-sm-1 Plazo De Pago
        %th.text-center.col-sm-1 Mora
        %th.text-center.col-sm-2 Tiempo De Mora
        %th.text-center.col-sm-1 Estado
        %th.text-center.col-sm-3 Acciones
    %tbody
      %tr{"ng-repeat"=>"bill in bills"}
        %th.text-center{:scope => "row"} {{bill.bill_number}}
        %td {{bill.client_name}}
        %td {{bill.order_number}}
        %td
          %a{:href=>""} {{bill.user}}
        %td {{bill.due_date}}
        %td {{bill.past_due}}
        %td {{bill.past_due_days}}
        %td {{bill.status}}
        %td.actions-cell
          .btn-group.btn-block.no-round-corners{"aria-label" => "...", :role => "group"}
            %button.btn.btn-primary.actions-btn.no-round-corners{:type => "button"}
              %i.fa.fa-eye
            %button.btn.btn-success.actions-btn.no-round-corners{:type => "button"}
              %i.fa.fa-print
      
.row{"style"=>"margin-right:0px; margin-left: 0px;","ng-show" => "bill_creation"}
  .row{"style"=>"margin-top:10px;"}
    .col-md-4.text-left
      %button.btn.btn-danger.btn-sm{"ng-click" => "cancelBillCreation();"}
        %i.fa.fa-times
        Cancelar
    .col-md-4
      %h4 
        %i.fa.fa-file-text-o
        Nueva Factura N° {{draft_bill.bill_number}}
    .col-md-4
  .row.fit-content
    .panel.panel-info.bottomless
      / Default panel contents
      .panel-heading 
        .row
          .col-md-4.text-left
            %a{href: "", "ng-show" => "showBillInfo", "ng-click" => "showOrHideBillInfo();"}
              %i.fa.fa-arrow-down
            %a{href: "", "ng-hide" => "showBillInfo", "ng-click" => "showOrHideBillInfo();"}
              %i.fa.fa-arrow-right
            %strong
              Datos de la Factura
      %table.table.table-bordered
        %thead
          %tr
            %th.text-center Forma de Pago
            %th.text-center Fecha de Factura
            %th.text-center Fecha de Vencimiento
            %th.text-center Factura de Venta N°
        %tbody
          %tr
            %td {{selectedPayment | uppercase}}
            %td {{selectedClient.date | date:'dd/MM/yyyy' }}
            %td {{selectedClient.deadline_date | date:'dd/MM/yyyy' }}
            %td {{draft_bill.bill_number}}
    .panel.panel-info.bottomless{"ng-show" => "isClientSelected"}
      / Default panel contents
      .panel-heading 
        .row
          .col-md-4.text-left
            %a{href: "", "ng-show" => "showClient", "ng-click" => "showOrHideClient();"}
              %i.fa.fa-arrow-down
            %a{href: "", "ng-hide" => "showClient", "ng-click" => "showOrHideClient();"}
              %i.fa.fa-arrow-right
            %strong
              Cliente: {{selectedClient.business_name}} 
            %span
              %small
                %a{href: "", "ng-click" => "changeClient()"}
                  Cambiar
      .panel-body{"ng-show" => "showClient"}
        .row
          .col-md-4.text-left
            %i.fa.fa-id-card            
            %strong
              NIT: 
            {{selectedClient.nit}}
          .col-md-4.text-left
            %i.fa.fa-phone
            %strong
              Teléfono: 
            {{selectedClient.phone}}
          .col-md-4.text-left
            %i.fa.fa-map-marker
            %strong
              Dirección: 
            {{selectedClient.address}}
        .row
          .col-md-4.text-left
            %i.fa.fa-location-arrow
            %strong
              Ciudad: 
            {{selectedClient.city}}
          .col-md-4.text-left
            %i.fa.fa-user
            %strong
              Contacto Principal: 
            %a{href: ""}
              {{selectedClient.main_contact_name}}        
          .col-md-4.text-left         
            %i.fa.fa-envelope
            %strong
              Email: 
            {{selectedClient.email}}
    .panel.panel-info.bottomless
      / Default panel contents
      .panel-heading 
        .row
          .col-md-4.text-left
            %i.fa.fa-shopping-cart
            %strong
              Agregar Articulos 
      .panel-body.bottomless-padding{style: "padding-top:4px !important;"}
        .row.fit-content.add-items-search{style: "margin-top:5px;"}
          .form-group.bottomless
            %label.sr-only{:for => "search-items"} Buscar
            .input-group
              .input-group-addon
                %i.fa.fa-search
              %input#search-items.form-control{"ng-model"=>"search_items", :placeholder => "Ingrese CUM, referencia, nombre, laboratorio o lote...", :type => "text"}
            .text-center{"ng-if"=>"search_items"}
              %h5 Resultados de la Búsqueda
      %table.table.table-hover{"ng-if"=>"search_items"}
        %thead
          %tr
            %th.text-center CUM
            %th.text-center Referencia
            %th.text-center Nombre
            %th.text-center Laboratorio
            %th.text-center Presentación
            %th.text-center Precio
            %th.text-center IVA
            %th.text-center INVIMA
            %th.text-center Cantidad
            %th.text-center Acciones
        %tbody
          %tr{"ng-repeat" => "item in items | filter:search_items | limitTo:20"}
            %td {{item.cum}}
            %td {{item.ref}}
            %td {{item.name}}
            %td {{item.lab}}
            %td {{item.presentation}}
            %td {{item.price | currency:"$":0}}
            %td {{item.vat}} %
            %td {{item.invima}}
            %td {{item.quantity}}
            %td.actions-cell
              .btn-group.btn-block.no-round-corners{"aria-label" => "...", :role => "group"}
                %button.btn.btn-primary.action-btn.no-round-corners{:type => "button", "ng-disabled" => "item.empty", "data-toggle"=>"modal", "data-target"=>"#addToBill", "ng-click" => "selectItem(item);"}
                  %i.fa.fa-shopping-cart
                  Agregar
#addToBill.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title {{selectedItemBill.name}}
      .modal-body
        %form.form-inline
          .row
            .col-xs-5
              .form-group
                %label{:for => "exampleInputName2"} Cantidad:
                %input#exampleInputName2.form-control.width-60{:placeholder => "{{selectedItemBill.quantity}}", :type => "number"}/
            .col-xs-7  
              .form-group
                %label{:for => "exampleInputAmount"} Precio unid:
                .input-group
                  .input-group-addon $
                  %input#exampleInputAmount.form-control.width-60{:placeholder => "Precio", :type => "number", :value => "{{selectedItemBill.price}}", :size => "7"}
      %table.table.table-hover
        %thead
          %tr
            %th.text-center.col-md-5 Lote
            %th.text-center.col-md-4 Vencimiento
            %th.text-center.col-md-3 Cantidad
        %tbody
          %tr{"ng-repeat" => "batch in selectedItemBill.batches"}
            %td {{batch.batch}}
            %td {{batch.exp_date | date:'MM/yyyy'}}
            %td {{batch.quantity}}
            %td.actions-cell
              .btn-group.btn-block.no-round-corners{"aria-label" => "...", :role => "group"}
                %button.btn.btn-primary.action-btn.no-round-corners{:type => "button", "ng-disabled" => "item.empty", "data-toggle"=>"modal", "data-target"=>"#addToBill", "ng-click" => "selectItem(item);"}
                  %i.fa.fa-check
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancelar
        %button.btn.btn-primary{:type => "button", "ng-disabled" => true} Agregar a la factura
    / /.modal-content
  / /.modal-dialog
/ /.modal

%div{"ng-include" => "'modals/new_bill_modal.html'"}